:root.light {
  --palette-1: #ebe6fd;
  --palette-2: #e8e2ff;
  --palette-3: #e0d8ff;
  --palette-4: #ded4ff;
  --palette-5: #d0c4fa;
  --palette-text: #0a0324;
}

:root.dark {
  --palette-1: #3c345a;
  --palette-2: #221b3e;
  --palette-3: #1c143a;
  --palette-4: #10082d;
  --palette-5: #0a0324;
  --palette-text: #d0c4fa;
}

#servers_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--palette-4);
    overflow-y: scroll;
}

#info_floater {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 75px;
    z-index: 1000;
    background-color: var(--palette-3);
    color: var(--palette-text);
    font-family: Arial, sans-serif;
}

.server img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}

.server {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 9999px;
    background-color: var(--palette-5);
    margin: 5px 0;
    color: var(--palette-text);
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.server.selected {
    outline: 3px solid limegreen;
}

#chat_inner_div img {
    max-width:60%;
    max-height:60%;
}

#chat_inner_div {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 75px);
    height: 100%;
    overflow-y: hidden;
    background-color: var(--palette-3);
    display: flex;
    align-items: left;
    flex-direction: column;
}

#msg_container {
    height:100%;
    overflow-y: scroll;
    padding-bottom: 300px;
}

.msg {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: var(--palette-2);
    margin: 5px 0;
    position: relative;
    font-family: Arial, sans-serif;
    color: var(--palette-text);
}

#message_input_div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 300px;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
}

#msg_input {
    border-color: black;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#msg_send {
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#msg_send_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user_status {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--palette-2);
    align-items: center;
    padding: 0.5em;
}

#chat_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--palette-1);
}

#status_bar {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100px; 
    width: 150px;
    background-color: var(--palette-3);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px;
}

#settings_menu {
    position: absolute;
    top: 5%;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: var(--palette-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#settings_menu.open {
    left: 5%;
    transition: left 0.5s ease, border-radius 0.5s ease;
}

#settings_menu.closed {
    left: -100%;
    transition: left 0.5s ease, border-radius 0.5s ease;
}

#settings_menu .button {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-4);
    color: var(--palette-text);
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.toastui-editor-mode-switch {
  display: none !important;
}