:root {
    --palette-1: #ebe6fd;
    --palette-2: #e8e2ff;
    --palette-3: #e0d8ff;
    --palette-4: #ded4ff;
    --palette-5: #d0c4fa;
    --palette-text: #0a0324;
}

button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: var(--palette-4);
    color: var(--palette-text);
    border: solid 1px var(--palette-text);
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}

[data-theme='light'] {
    --palette-1: #ebe6fd;
    --palette-2: #e8e2ff;
    --palette-3: #e0d8ff;
    --palette-4: #ded4ff;
    --palette-5: #d0c4fa;
    --palette-text: #0a0324;
}

[data-theme='obsidian'] {
    --palette-1: #121212;
    --palette-2: #121212;
    --palette-3: #090909;
    --palette-4: #000000;
    --palette-5: #121212;
    --palette-text: #962de7;
}

[data-theme='outerspace'] {
    --palette-1: #3c345a;
    --palette-2: #221b3e;
    --palette-3: #1c143a;
    --palette-4: #10082d;
    --palette-5: #0a0324;
    --palette-text: #d0c4fa;
}

[data-theme='orange'] {
    --palette-1: #ffe7a7;
    --palette-2: #ffe294;
    --palette-3: #fcd876;
    --palette-4: #ffd460;
    --palette-5: #ffde85;
    --palette-text: #000000;
}

[data-theme='green'] {
    --palette-1: #a7ffad;
    --palette-2: #a1ff94;
    --palette-3: #76fc7b;
    --palette-4: #60ff64;
    --palette-5: #a3ff85;
    --palette-text: #000000;
}

image#color_icon {
    filter: invert() brightness();
}

#servers_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--palette-4);
    overflow-y: scroll;
}

#info_floater {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 75px;
    z-index: 1000;
    background-color: var(--palette-3);
    color: var(--palette-text);
    font-family: Arial, sans-serif;
}

.server img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}

.server {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 9999px;
    background-color: var(--palette-5);
    margin: 5px 0;
    color: var(--palette-text);
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.server.selected {
    outline: 3px solid limegreen;
}

#chat_inner_div {
    position: absolute;
    top: 0px;
    right: 150px;
    width: calc(100% - 225px);
    height: 100%;
    overflow-y: hidden;
    background-color: var(--palette-3);
    display: flex;
    align-items: left;
    flex-direction: column;
}

#msg_container {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 300px;
}

.msg {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--palette-2);
    margin: 5px 0;
    position: relative;
    font-family: Arial, sans-serif;
    color: var(--palette-text);
}


#chat_inner_div * img {
    max-width: 60%;
    max-height: 60%;
}

#message_input_div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 300px;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
}

#msg_input {
    border-color: black;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#msg_send {
    aspect-ratio: 1 / 1;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#msg_send_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user_status {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--palette-2);
    align-items: center;
    padding: 0.5em;
}

.user_status #pfp_container {
    width: 30px;
    height: 30px;
    position: relative;
}

.user_status #pfp_container #pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    x: 0px;
    y: 0px;
}

.user_status #pfp_container #status {
    border-radius: 9999px;
    border-width: 2px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 18px;
    left: -0px;
    background-color: green;
}

#chat_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--palette-1);
}

.no_imgs * .msg * .attachment {
    visibility:hidden;
    border: 1px solid var(--palette-text);
    content: "[Image hidden]";
}

#status_bar {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 150px;
    background-color: var(--palette-3);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px;
}

#settings_menu {
    position: absolute;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: var(--palette-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#settings_menu > * {
    margin: 10px;
}

#settings_menu.open {
    left: 5%;
    transition: left 0.5s ease, border-radius 0.5s ease;
}

#settings_menu.closed {
    left: -100%;
    transition: left 0.5s ease, border-radius 0.5s ease;
}

#settings_menu .button {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-4);
    color: var(--palette-text);
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.msg * .attachment {
    max-width: 50%;
    max-height: 50%;
    min-width: 1%;
    min-height: 1%;
    height: auto;
    width: auto;
}

.msgs.blocked {
    content: "User blocked";
    content-visibility: hidden;
}

#textinput {
    border: none;
    width: 100%;
    height: 90%;
    outline: none;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--palette-2);
    color: var(--palette-text);
    font-family: Arial, sans-serif;
    font-size: 14px;
}